* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}

.container {
  width: 90%;
  /* margin: auto; */
  margin: 0.5rem 0;
  max-width: 1100px;
  overflow: auto;
  padding: 2rem;
}

.clear {
  clear: both;
}

.p {
  width: 45%;
  line-height: 2rem;
}

.l-heading {
  font-size: 3rem;
}

.m-heading {
  font-size: 1.2rem;
}

#section-a {
  background: #19628a;
  color: #fff;
  padding: 1rem;
}

img {
  float: right;
  display: block;
  width: 200px;
}

/* Button styling */
.btn {
  display: inline-block;
  background: #fd862f;
  color: #fff;
  padding: 0.5rem 3rem;
  border: none;
  font-size: 1.5rem;
  text-decoration: none;
}

.submit-btn {
  background: #fd862f;
  color: #fff;
  font-size: 1rem;
  border: none;
  text-decoration: none;
}

/* Form */

.form,
.btn-form {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.form label {
  display: block;
  margin-bottom: 1rem;
}

.form input {
  width: 40%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.form {
  float: left;
  width: 50%;
}
.main-table {
  float: right;
  width: 35%;
}

.table {
  width: 100%;
}

th,
td {
  width: 35%;
  height: 2.5rem;
}
.table,
th,
td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
}

/* Footer */
.footer {
  clear: both;
  text-align: center;
  background: #444;
  color: #fff;
  padding: 1.4rem;
}
