* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Navbar */
.navbar {
  background: #19628a;
  color: #fff;
  margin-bottom: -70px;
  width: 100%;
}

.navbar-right {
  text-align: right;
}

.navbar a {
  color: #fff;
}

.navbar h1 {
  color: #fff;
  line-height: 1.5rem;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  margin-right: 0px;
  margin-left: 50px;
  text-align: center;
}

.navbar ul li a {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.paragraph {
  width: 500px;
  line-height: 2.5rem;
  font-size: 1.7rem;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.7rem;
}
.container {
  width: 85%;
  margin: auto;
  padding: 50px 0;
}
.background {
  background: #19628a;
  color: #fff;
}
.fifty {
  display: inline-block;
  width: 49%;
  overflow: hidden;
  vertical-align: top;
  line-height: 2.4rem;
}
img {
  width: 35%;
  margin-left: 60%;
  margin-right: 0;
}
.right {
  margin-left: 30%;
  margin-right: 0;
}
/* Button styling */
.btn {
  display: inline-block;
  background: #fd862f;
  color: #fff;
  padding: 0.5rem 3rem;
  border: none;
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}
.submit-btn {
  background: #fd862f;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  text-decoration: none;
  margin-bottom: 1rem;
  line-height: 1.7rem;
  margin-top: 1.5rem;
  font-size: 1.7rem;
}

/* Article */
article {
  display: block;
  background: #f5f5f5;
  padding: 2rem;
  text-align: center;
}

article h2 {
  color: #000;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: bold;
}

article p {
  color: #555555;
  font-size: 1.5rem;
}

article .fifty {
  display: inline-block;
  text-align: center;
  width: 33%;
  line-height: 2.5rem;
  padding: 1.5rem;
}

/* Form */
.form,
.submit-btn {
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.form label {
  display: block;
  margin-bottom: 1rem;
}
.form input {
  width: 40%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}
.form {
  width: 100%;
}
table {
  font-size: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
  margin-right: 0;
  margin-left: auto;
  margin-top: 1rem;
  width: 70%;
}
th {
  height: 2rem;
}
td {
  height: 2.5rem;
}
th,
td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
}
/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 2rem;
  margin-top: 20px;
}
footer p {
  text-align: center;
}
/* Service */
.service-content {
  background: #19628a;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: auto;
}

.lead {
  line-height: 3.5rem;
  font-size: 2.1rem;
}

.row {
  display: flex;
  align-items: stretch;
}

.twenty {
  display: inline-block;
  width: 29%;
  overflow: hidden;
  vertical-align: top;
  line-height: 2.4rem;
  margin: auto;
}

.sixty {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  overflow: hidden;
}

.service-1 {
  color: #333333;
  padding: 0.5rem;
  width: 100%;
}

.service-2 {
  background-color: #f5f5f5;
  color: #333333;
  margin-right: auto;
  margin-left: 0;
  padding: 0.5rem;
  width: 100%;
}

.service-3 {
  color: #333333;
  padding: 0.5rem;
  width: 100%;
}

.image {
  width: 75%;
  margin: auto;
}

.img-2 {
  width: 75%;
  margin: auto;
  margin-left: 25%;
}

.margin-bottom {
  font-size: 2.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* Contact */
.contact-content {
  background: #19628a;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: auto;
}

/* Button */
/* .send {
  display: inline-block;
  background: #fd862f;
  color: #fff;
  padding: 0.5rem 5.5rem;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 0.5rem;
} */

.other-img {
  width: 40%;
  margin: auto;
  margin-left: 60%;
}
