* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 1rem;
}

p {
  width: 90%;
  line-height: 1.5rem;
}

.container {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.background {
  background: #19628a;
  color: #fff;
}

.fifty {
  display: inline-block;
  width: 49%;
  overflow: hidden;
  vertical-align: top;
}

img {
  width: 35%;
  margin-left: 60%;
  margin-right: 0;
}

.right {
  margin-left: 40%;
  margin-right: 0;
}

/* Button styling */
.btn {
  display: inline-block;
  background: #fd862f;
  color: #fff;
  padding: 0.5rem 3rem;
  border: none;
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 1rem;
}

.submit-btn {
  background: #fd862f;
  color: #fff;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  margin-bottom: 1rem;
}

/* Form */

.form,
.btn-form {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.form label {
  display: block;
  margin-bottom: 1rem;
}

.form input {
  width: 40%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.form {
  width: 100%;
}

table {
  font-size: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
  margin-right: 0;
  margin-left: auto;
  width: 70%;
}

th {
  height: 2rem;
}

td {
  height: 2.5rem;
}

th,
td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
}

/* Footer */

.footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 1.5rem;
}
